- var now = new Date();
- var month = (now.getMonth()+1).toString().padStart(2, '0');
- var day = now.getDate().toString().padStart(2, '0');
- var date = `${now.getFullYear()}/${month}/${day}`;
- var version = "0.9.2-beta";

#info-tab-body.controls-tab-body(hidden)
    h2= `binksi -- ${version} (${date})`
    p binksi is a bitsy-like tool for making small lo-fi graphical adventure games where a character explores a world and interacts with its inhabitants.
    p propulse your <a href="https://kool.tools/bipsi/user-guide.pdf">bipsi</a> games with narration engine <a href="https://www.inklestudios.com/ink/">ink</a>
    p many thanks and kudos to <a href="https://kool.tools/">candle</a> creator of bipsi !
    h3 guides
    .info-action-list
        a.button(href="https://kool.tools/bipsi/user-guide.pdf" target="_blank" title="open user guide") 
            include /icons/info.svg
            | bipsi user guide
        a.button(href="https://github.com/inkle/ink/blob/master/Documentation/WritingWithInk.md" target="_blank" title="writing with Ink") 
            include /icons/ink.svg
            | writing with Ink
    .info-action-list
        a.button(href="https://kool.tools/bipsi/scripting-guide.pdf" target="_blank" title="open scripting guide") 
            include /icons/code.svg
            | bipsi scripting guide
        a.button(href="https://smwhr.github.io/binksi/docs/" target="_blank" title="open user guide") 
            include /icons/binksi.svg
            | additional binksi guide
