- var now = new Date();
- var month = (now.getMonth()+1).toString().padStart(2, '0');
- var day = now.getDate().toString().padStart(2, '0');
- var date = `${now.getFullYear()}/${month}/${day}`;
- var version = "release";

#info-tab-body.controls-tab-body(hidden)
    h2= `bipsi — ${version} (${date})`
    h3 about
    p bipsi is a tool for making small games where a character explores a world and interacts with its inhabitants. it is a clone of adam ledoux's <a href="http://www.bitsy.org/">bitsy game maker</a>
    p if you're new to bipsi, and especially if you're new to bitsy, you should read the <a href="https://kool.tools/bipsi/user-guide.pdf">bipsi user guide</a>. for advanced usage, check out the <a href="https://github.com/Ragzouken/bipsi/blob/main/README.md">bipsi readme</a>
    p i'm <a href="https://kool.tools/">candle</a>, a long time bitsy user and tool maker. you can read more about the motivation for this tool <a href="https://kool.tools/blog/makers-study.html">on my blog</a>
    h3 guides
    .info-action-list
        a.button(href="https://kool.tools/bipsi/user-guide.pdf" target="_blank" title="open user guide") 
            include /icons/info.svg
            | user guide
        a.button(href="https://github.com/Ragzouken/bipsi/blob/main/README.md" target="_blank" title="open readme") 
            include /icons/code.svg
            | advanced readme
